/*Styling for main body of website and general features*/
body {
  background: linear-gradient(
    109.6deg,
    rgb(61, 121, 176) 11.3%,
    rgb(35, 66, 164) 91.1%
  );
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 4px;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/*Styling for nav-bar used on all pages of website*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  color: #2342a4;
}

h1 {
  margin: 4px 0;
}

nav a,
nav a:visited {
  color: #2342a4;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-list-item {
  margin: 0 7px;
  font-size: 20px;
}

/*Styling for game content section*/
.container {
  color: #2342a4;
  width: 70%;
  margin: 100px auto 50px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

#question-image {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  margin: 25px auto;
}

.options-section {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-flow: row wrap;
}

.options-text,
#start-again {
  color: #2342a4;
  border-color: #2342a4;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #2342a4;
  color: #ffffff;
}

.correct,
.correct:hover {
  background-color: #52c952;
  color: #ffffff;
  border-color: #52c952;
}

.incorrect,
.incorrect:hover {
  background-color: #f23a3a;
  color: #ffffff;
  border-color: #f23a3a;
}

.result-section {
  padding-top: 30px;
  margin-bottom: 10px;
}

/*Styling for footer section on all pages*/
footer {
  color: #ffffff;
  width: 100%;
  margin-bottom: 10px;
}

footer ul {
  margin: 0px 4%;
}

footer li {
  padding: 15px 4%;
  font-size: 20px;
}

footer a {
  color: #ffff;
}

footer a:visited {
  color: #ffff;
}

/*Styling for about page*/
p {
  line-height: 30px;
}

#book-link {
  color: #2342a4;
}

#lets-play-button {
  color: #2342a4;
  margin: 10px;
  border: 1px solid #2342a4;
  border-radius: 10px;
  padding: 8px;
}

#lets-play-button:hover {
  border: 2px solid #2342a4;
}

/*Responsiveness on small devices styling*/
@media screen and (max-width: 950px) {
  h1 {
    font-size: 16px;
  }

  .nav-list-item {
    font-size: 14px;
  }

  .container {
    margin: 70px auto 10px;
    width: 85%;
  }
}
