body {
  background: linear-gradient(
    109.6deg,
    rgb(61, 121, 176) 11.3%,
    rgb(35, 66, 164) 91.1%
  );
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.container {
  color: #2342a4;
  width: 70%;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

h1,
footer {
  color: #ffffff;
  width: 100%;
}

#image-div {
  margin: 0 auto;
  overflow: hidden;
}

#question-image {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

.options-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-flow: row wrap;
}
.options-text {
  color: #2342a4;
  border-color: #2342a4;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.correct {
  background-color: #52c952;
}

.incorrect {
  background-color: #f23a3a;
}

.result-section {
  padding-top: 30px;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
