body {
  background: linear-gradient(
    109.6deg,
    rgb(61, 121, 176) 11.3%,
    rgb(35, 66, 164) 91.1%
  );
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

/*Nav-Bar styling used across all pages of site*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  color: #2342a4;
}

h1 {
  margin: 4px 0;
}

nav a,
nav a:visited {
  color: #2342a4;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  margin: 0 7px;
  font-size: 22px;
}

.container {
  color: #2342a4;
  width: 70%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

ul {
  padding: 0;
  margin: 4px;
}
li {
  list-style-type: none;
}

footer {
  color: #ffffff;
  width: 100%;
}

#image-div {
  margin: 0 auto;
  overflow: hidden;
}

#question-image {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

.options-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-flow: row wrap;
}
.options-text,
#start-again {
  color: #2342a4;
  border-color: #2342a4;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #2342a4;
  color: #ffffff;
}
.correct,
.correct:hover {
  background-color: #52c952;
  color: #ffffff;
  border-color: #52c952;
}

.incorrect,
.incorrect:hover {
  background-color: #f23a3a;
  color: #ffffff;
  border-color: #f23a3a;
}

.result-section {
  padding-top: 30px;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

p {
  line-height: 50px;
}

#book-link {
  color: #2342a4;
}

#lets-play-button {
  color: #2342a4;
  margin: 10px;
  border: 1px solid #2342a4;
  border-radius: 10px;
  padding: 8px;
}

#lets-play-button:hover {
  border: 2px solid #2342a4;
}
